.card {
  background-color: #fff;
  background-size: 200%;
  color: #000;
  display: inline-block;
  width: 200px;
  /*height: 50px;*/
  height: 325px;
}

.card.guard {
  background-image: url(/img/stormtrooper.jpg);
  background-position: 50% 41%;
  background-size: 140%;
}

.card.priest {
  background-image: url(/img/yoda.jpg);
  background-size: 160%;
  background-position: 52% 36%;
}

.card.baron {
  background-image: url(/img/probe.jpg);
  background-size: 207%;
  background-position: 40% 44%;
}

.card.handmaid {
  background-image: url(/img/boo.jpg);
  background-position: 40% 50%;
}

.card.prince {
  background-image: url(/img/spiderchan.jpg);
  background-size: 180%;
  background-position: 16% -28%;
}

.card.king {
  background-image: url(/img/bread.jpg);
  background-size: 180%;
  background-position: 36% 24%;
}

.card.countess {
  background-image: url(/img/klappar.jpg);
  background-size: 150%;
  background-position: 40% 50%;
}

.card.princess {
  background-image: url(/img/dude.jpg);
  background-size: 200%;
  background-position: 45% 45%;
}

.card.clickable {
  border: 5px solid #0f0;
  cursor: pointer;
}

/*.card.expanded {*/
  /*height: 325px;*/
/*}*/

.card.clickable:hover {
  border-color: #f00;
}

.card.circle {
  width: 50px;
  height: 50px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #000;
}

.card.title {
  width: 138px;
  height: 50px;
  top: 3px;
  left: 10px;
  border-style: none;
  font-size: 30px;
}

.card.discard {
  background-color: #aaa;
  background-size: 1000%;
  opacity: 50%;
  width: 50px;
}

.card.discard.guard {
  background-size: 550%;
  background-position: 42% 30%;
}

.card.discard.priest {
  background-size: 700%;
  background-position: 42% 38%;
}

.card.discard.handmaid {
}

.card.discard.prince {
  background-size: 700%;
  background-position: 40% -146%;
}

.card.discard.king {
  background-position: 31% 44%;
}

.card.discard.countess {
  background-position: 40% 50%;
}

.card.discard.princess {
  background-size: 1300%;
  background-position: 44% 47%;
}

.player-view {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.player-view.active {
  background-color: #666;
}

.lobby-container {
  margin-top: 50px;
}

.message-log {
  border: 1px solid #000;
  height: 200px;
  overflow-y: scroll;
  width: 100%;
}

.reveal-modal-body {
  text-align: center;
}

.baron-reveal-card {
  display: inline-block;
}
